body{
    font-family: "Consolas";
    text-align:center ;
}

p {
    color: brown;

}

.about{
    background: gray;
    padding:8px;
}

img{
    height: 400px;
    width: 400px;
}

.column{
    float:left;
    margin-right:15px;
    margin:10px;
    width:18%;

}

.card{
    box-shadow: 0px 4px 8px 0 orange;
    padding:0 16px 0 16px;
    color:greenyellow;
}