.bg-cover {
    background-image: url("../images/main-bg-2.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.container {
   
width: 50%;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: gray;
    padding: 20px;
    text-align: center;
    border-radius:30px;
}

input {
    margin-bottom: 10px;
}
img{
    max-width:500px;
    max-height:400px;
    margin: auto;
}

